<p id="notice"><%= notice %></p>

<h1>Listing Parking Spots</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Parking spot size</th>
      <th>Parking spot status</th>
      <th>Is private</th>
      <th>Is for disability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_spots.each do |parking_spot| %>
      <tr>
        <td><%= parking_spot.code %></td>
        <td><%= parking_spot.parking_spot_size %></td>
        <td><%= parking_spot.parking_spot_status %></td>
        <td><%= parking_spot.is_private %></td>
        <td><%= parking_spot.is_for_disability %></td>
        <td><%= link_to 'Show', parking_spot %></td>
        <td><%= link_to 'Edit', edit_parking_spot_path(parking_spot) %></td>
        <td><%= link_to 'Destroy', parking_spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking spot', new_parking_spot_path %>
